extends layout

block content
	link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
	link(rel='stylesheet' href='../../../stylesheets/newUser.css')
	.navbar
		a.active(href= '/user' )
			i.fa.fa-fw.fa-home
			| Домой
		.topnav-right
			a(href='/user/exit')
				i.fa.fa-fw.fa-sign-out
				| Выйти

	h3 Выберете расстение:
	.search-container
			input.inputFilter(type='text' placeholder='Поиск..' name='search' id='inpfield')
			button(type='submit' onclick="setfilter()")
				i.fa.fa-search
			script.
				function setfilter(){
					const x = document.getElementById('inpfield').value;
					document.location.href= '/user/addplant?f='+x;
				}
	each item in cursor
		- lochref = '/user/addplant/?f='+item.name+'&p='+item._id
		- fid = item._id
		button.btnselplant(onclick="location.href='"+lochref+"'")
			i
				table
					tbody
						tr
							td #{item.name} 
								br 
								| #{item.name_lat}
							td
								img(style='width:80px', src = 'data:image/jpeg;base64, ' + item.img )
	if usersel
		form(method='post' enctype='aplication/json')
			input(type='hidden' name = 'fid' value = fid)
			input(type='hidden' name = 'fuser' value = user)
			label.lbl1(for="fsource") Как получено:
			select.inputFilter(name="fsource")
				option(value="Покупка") Покупка
				option(value="Подарок") Подарок
				option(value="Взято на природе") Взято на природе
				option(value="Взято в саду") Взято в саду
			br
			label.lbl1(for="ffrom") Куплено/Подарено/Взято:
			input.inputFilter(type='text' name='ffrom' placeholder='Откуда взято/получено...' required='')
			br
			label.lbl1(for="fdate") Дата:
			input.inputFilter(type='date' id='fdate' name='fdate')
			script.
				{
				document.getElementById('fdate').valueAsDate = new Date();
				}
			br
			label.lbl1(for="fvol") Количество:
			input.inputnumber(type='number' name='fvol' id='fvol' placeholder='Введите количество...' min='1' required='')
			br
			label.lbl1(for="fprice") Цена за единицу:
			input.inputnumber(type='number' name='fprice' id='fprice' step='0.01' value='0' required='')
			br
			button.btnsave(type='submit')
				i.fa.fa-fw.fa-save
				| Сохранить
		
